## Preprocessing

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Drop the non-beneficial ID column, 'EIN'.
application_df.drop(columns=['EIN'], inplace=True)

In [19]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
print(unique_value_counts)

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [20]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
print(name_counts)

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `name_to_replace`
cutoff_value = 3
name_to_replace = name_counts[name_counts < cutoff_value].index.tolist()

# Replace in dataframe
for ntr in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(ntr,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                                         19206
PARENT BOOSTER USA INC                                         1260
TOPS CLUB INC                                                   765
UNITED STATES BOWLING CONGRESS INC                              700
WASHINGTON STATE UNIVERSITY                                     492
                                                              ...
ORDER OF EASTERN STAR PRINCE HALL AFFILIATION OF LOUISIANA        3
UEMPOWERU INC                                                     3
TRUSTEES OF DARTMOUTH COLLEGE                                     3
NATIONAL FELLOWSHIP OF RACEWAY MINISTRIES                         3
WESTERN DRESSAGE ASSOCIATION OF AMERICA                           3
Name: count, Length: 578, dtype: int64

In [22]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [23]:
# You may find it helpful to look at CLASSIFICATION value counts >1

# Filter to show only value counts > 1
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

print(classification_counts_greater_than_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [24]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 100
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for ctr in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(ctr,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df).astype(int)
application_df.head(5)

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,NAME_AACE INTERNATIONAL,NAME_ACADEMY OF GENERAL DENTISTRY,NAME_ACADEMY OF MANAGED CARE PHARMACY,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [26]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])  
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer 
nn_model.add(tf.keras.layers.Dense(units=8, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer 
nn_model.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 5088

 dense_4 (Dense)             (None, 16)                144

 dense_5 (Dense)             (None, 1)                 17

=================================================================
Total params: 5249 (20.50 KB)
Trainable params: 5249 (20.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [30]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 801us/step - loss: 0.5644 - accuracy: 0.7406
Epoch 2/50
804/804 [==============================] - 1s 745us/step - loss: 0.4493 - accuracy: 0.7848
Epoch 3/50
804/804 [==============================] - 1s 734us/step - loss: 0.4315 - accuracy: 0.7945
Epoch 4/50
804/804 [==============================] - 1s 728us/step - loss: 0.4257 - accuracy: 0.7959
Epoch 5/50
804/804 [==============================] - 1s 729us/step - loss: 0.4232 - accuracy: 0.7973
Epoch 6/50
804/804 [==============================] - 1s 729us/step - loss: 0.4217 - accuracy: 0.7977
Epoch 7/50
804/804 [==============================] - 1s 726us/step - loss: 0.4203 - accuracy: 0.7989
Epoch 8/50
804/804 [==============================] - 1s 734us/step - loss: 0.4194 - accuracy: 0.7999
Epoch 9/50
804/804 [==============================] - 1s 736us/step - loss: 0.4185 - accuracy: 0.8000
Epoch 10/50
804/804 [==============================] - 1s 752us/step - loss: 0.4176 - accuracy: 0.8008
Epoch 11/50
804/804 [==============================] - 1s 740us/step - loss: 0.4173 - accuracy: 0.7991
Epoch 12/50
804/804 [==============================] - 1s 763us/step - loss: 0.4164 - accuracy: 0.8009
Epoch 13/50
804/804 [==============================] - 1s 785us/step - loss: 0.4159 - accuracy: 0.7991
Epoch 14/50
804/804 [==============================] - 1s 806us/step - loss: 0.4152 - accuracy: 0.8012
Epoch 15/50
804/804 [==============================] - 1s 796us/step - loss: 0.4144 - accuracy: 0.8018
Epoch 16/50
804/804 [==============================] - 1s 788us/step - loss: 0.4143 - accuracy: 0.8021
Epoch 17/50
804/804 [==============================] - 1s 777us/step - loss: 0.4137 - accuracy: 0.8026
Epoch 18/50
804/804 [==============================] - 1s 763us/step - loss: 0.4134 - accuracy: 0.8028
Epoch 19/50
804/804 [==============================] - 1s 835us/step - loss: 0.4128 - accuracy: 0.8021
Epoch 20/50
804/804 [==============================] - 1s 761us/step - loss: 0.4124 - accuracy: 0.8022
Epoch 21/50
804/804 [==============================] - 1s 750us/step - loss: 0.4119 - accuracy: 0.8034
Epoch 22/50
804/804 [==============================] - 1s 789us/step - loss: 0.4116 - accuracy: 0.8033
Epoch 23/50
804/804 [==============================] - 1s 773us/step - loss: 0.4114 - accuracy: 0.8030
Epoch 24/50
804/804 [==============================] - 1s 780us/step - loss: 0.4111 - accuracy: 0.8022
Epoch 25/50
804/804 [==============================] - 1s 772us/step - loss: 0.4108 - accuracy: 0.8029
Epoch 26/50
804/804 [==============================] - 1s 753us/step - loss: 0.4107 - accuracy: 0.8030
Epoch 27/50
804/804 [==============================] - 1s 770us/step - loss: 0.4105 - accuracy: 0.8039
Epoch 28/50
804/804 [==============================] - 1s 732us/step - loss: 0.4105 - accuracy: 0.8047
Epoch 29/50
804/804 [==============================] - 1s 737us/step - loss: 0.4102 - accuracy: 0.8036
Epoch 30/50
804/804 [==============================] - 1s 758us/step - loss: 0.4099 - accuracy: 0.8036
Epoch 31/50
804/804 [==============================] - 1s 767us/step - loss: 0.4094 - accuracy: 0.8031
Epoch 32/50
804/804 [==============================] - 1s 747us/step - loss: 0.4094 - accuracy: 0.8040
Epoch 33/50
804/804 [==============================] - 1s 737us/step - loss: 0.4090 - accuracy: 0.8040
Epoch 34/50
804/804 [==============================] - 1s 752us/step - loss: 0.4092 - accuracy: 0.8047
Epoch 35/50
804/804 [==============================] - 1s 760us/step - loss: 0.4091 - accuracy: 0.8049
Epoch 36/50
804/804 [==============================] - 1s 730us/step - loss: 0.4084 - accuracy: 0.8060
Epoch 37/50
804/804 [==============================] - 1s 750us/step - loss: 0.4088 - accuracy: 0.8050
Epoch 38/50
804/804 [==============================] - 1s 762us/step - loss: 0.4080 - accuracy: 0.8058
Epoch 39/50
804/804 [==============================] - 1s 714us/step - loss: 0.4077 - accuracy: 0.8063
Epoch 40/50
804/804 [==============================] - 1s 723us/step - loss: 0.4078 - accuracy: 0.8052
Epoch 41/50
804/804 [==============================] - 1s 739us/step - loss: 0.4077 - accuracy: 0.8059
Epoch 42/50
804/804 [==============================] - 1s 687us/step - loss: 0.4072 - accuracy: 0.8083
Epoch 43/50
804/804 [==============================] - 1s 708us/step - loss: 0.4068 - accuracy: 0.8063
Epoch 44/50
804/804 [==============================] - 1s 696us/step - loss: 0.4059 - accuracy: 0.8086
Epoch 45/50
804/804 [==============================] - 1s 699us/step - loss: 0.4056 - accuracy: 0.8078
Epoch 46/50
804/804 [==============================] - 1s 825us/step - loss: 0.4053 - accuracy: 0.8091
Epoch 47/50
804/804 [==============================] - 1s 809us/step - loss: 0.4052 - accuracy: 0.8086
Epoch 48/50
804/804 [==============================] - 1s 709us/step - loss: 0.4050 - accuracy: 0.8094
Epoch 49/50
804/804 [==============================] - 1s 723us/step - loss: 0.4047 - accuracy: 0.8087
Epoch 50/50
804/804 [==============================] - 1s 748us/step - loss: 0.4044 - accuracy: 0.8094

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4535 - accuracy: 0.7883 - 267ms/epoch - 996us/step
Loss: 0.4535469114780426, Accuracy: 0.7883381843566895

In [32]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization.h5')

C:\Users\joshu\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(