## Preprocessing

In [13]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [15]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [16]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [17]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 200
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [18]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [19]:
# You may find it helpful to look at CLASSIFICATION value counts >1

# Filter to show only value counts > 1
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

print(classification_counts_greater_than_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [20]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 100
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for ctr in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(ctr,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [21]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df).astype(int)
application_df.head(5)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [22]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])  
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 400

 dense_4 (Dense)             (None, 16)                144

 dense_5 (Dense)             (None, 1)                 17

=================================================================
Total params: 561 (2.19 KB)
Trainable params: 561 (2.19 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [26]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 710us/step - loss: 0.5914 - accuracy: 0.7061
Epoch 2/50
804/804 [==============================] - 1s 688us/step - loss: 0.5620 - accuracy: 0.7248
Epoch 3/50
804/804 [==============================] - 1s 693us/step - loss: 0.5570 - accuracy: 0.7272
Epoch 4/50
804/804 [==============================] - 1s 695us/step - loss: 0.5549 - accuracy: 0.7273
Epoch 5/50
804/804 [==============================] - 1s 689us/step - loss: 0.5523 - accuracy: 0.7280
Epoch 6/50
804/804 [==============================] - 1s 690us/step - loss: 0.5516 - accuracy: 0.7271
Epoch 7/50
804/804 [==============================] - 1s 691us/step - loss: 0.5509 - accuracy: 0.7284
Epoch 8/50
804/804 [==============================] - 1s 728us/step - loss: 0.5499 - accuracy: 0.7300
Epoch 9/50
804/804 [==============================] - 1s 691us/step - loss: 0.5491 - accuracy: 0.7299
Epoch 10/50
804/804 [==============================] - 1s 690us/step - loss: 0.5483 - accuracy: 0.7301
Epoch 11/50
804/804 [==============================] - 1s 713us/step - loss: 0.5483 - accuracy: 0.7308
Epoch 12/50
804/804 [==============================] - 1s 680us/step - loss: 0.5478 - accuracy: 0.7303
Epoch 13/50
804/804 [==============================] - 1s 705us/step - loss: 0.5478 - accuracy: 0.7305
Epoch 14/50
804/804 [==============================] - 1s 692us/step - loss: 0.5469 - accuracy: 0.7317
Epoch 15/50
804/804 [==============================] - 1s 699us/step - loss: 0.5472 - accuracy: 0.7305
Epoch 16/50
804/804 [==============================] - 1s 687us/step - loss: 0.5463 - accuracy: 0.7314
Epoch 17/50
804/804 [==============================] - 1s 689us/step - loss: 0.5469 - accuracy: 0.7309
Epoch 18/50
804/804 [==============================] - 1s 684us/step - loss: 0.5466 - accuracy: 0.7317
Epoch 19/50
804/804 [==============================] - 1s 698us/step - loss: 0.5463 - accuracy: 0.7314
Epoch 20/50
804/804 [==============================] - 1s 706us/step - loss: 0.5455 - accuracy: 0.7318
Epoch 21/50
804/804 [==============================] - 1s 691us/step - loss: 0.5458 - accuracy: 0.7318
Epoch 22/50
804/804 [==============================] - 1s 694us/step - loss: 0.5457 - accuracy: 0.7321
Epoch 23/50
804/804 [==============================] - 1s 687us/step - loss: 0.5456 - accuracy: 0.7319
Epoch 24/50
804/804 [==============================] - 1s 701us/step - loss: 0.5455 - accuracy: 0.7311
Epoch 25/50
804/804 [==============================] - 1s 689us/step - loss: 0.5452 - accuracy: 0.7314
Epoch 26/50
804/804 [==============================] - 1s 700us/step - loss: 0.5450 - accuracy: 0.7314
Epoch 27/50
804/804 [==============================] - 1s 698us/step - loss: 0.5451 - accuracy: 0.7318
Epoch 28/50
804/804 [==============================] - 1s 685us/step - loss: 0.5449 - accuracy: 0.7320
Epoch 29/50
804/804 [==============================] - 1s 703us/step - loss: 0.5448 - accuracy: 0.7320
Epoch 30/50
804/804 [==============================] - 1s 684us/step - loss: 0.5448 - accuracy: 0.7322
Epoch 31/50
804/804 [==============================] - 1s 700us/step - loss: 0.5451 - accuracy: 0.7316
Epoch 32/50
804/804 [==============================] - 1s 688us/step - loss: 0.5448 - accuracy: 0.7323
Epoch 33/50
804/804 [==============================] - 1s 701us/step - loss: 0.5441 - accuracy: 0.7327
Epoch 34/50
804/804 [==============================] - 1s 699us/step - loss: 0.5446 - accuracy: 0.7326
Epoch 35/50
804/804 [==============================] - 1s 727us/step - loss: 0.5445 - accuracy: 0.7323
Epoch 36/50
804/804 [==============================] - 1s 722us/step - loss: 0.5442 - accuracy: 0.7331
Epoch 37/50
804/804 [==============================] - 1s 714us/step - loss: 0.5441 - accuracy: 0.7327
Epoch 38/50
804/804 [==============================] - 1s 718us/step - loss: 0.5439 - accuracy: 0.7326
Epoch 39/50
804/804 [==============================] - 1s 829us/step - loss: 0.5436 - accuracy: 0.7323
Epoch 40/50
804/804 [==============================] - 1s 881us/step - loss: 0.5440 - accuracy: 0.7339
Epoch 41/50
804/804 [==============================] - 1s 873us/step - loss: 0.5436 - accuracy: 0.7342
Epoch 42/50
804/804 [==============================] - 1s 961us/step - loss: 0.5433 - accuracy: 0.7331
Epoch 43/50
804/804 [==============================] - 1s 709us/step - loss: 0.5434 - accuracy: 0.7345
Epoch 44/50
804/804 [==============================] - 1s 736us/step - loss: 0.5433 - accuracy: 0.7341
Epoch 45/50
804/804 [==============================] - 1s 743us/step - loss: 0.5438 - accuracy: 0.7334
Epoch 46/50
804/804 [==============================] - 1s 746us/step - loss: 0.5433 - accuracy: 0.7327
Epoch 47/50
804/804 [==============================] - 1s 727us/step - loss: 0.5433 - accuracy: 0.7345
Epoch 48/50
804/804 [==============================] - 1s 805us/step - loss: 0.5431 - accuracy: 0.7346
Epoch 49/50
804/804 [==============================] - 1s 822us/step - loss: 0.5429 - accuracy: 0.7340
Epoch 50/50
804/804 [==============================] - 1s 826us/step - loss: 0.5430 - accuracy: 0.7346

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5533 - accuracy: 0.7327 - 283ms/epoch - 1ms/step
Loss: 0.5532703995704651, Accuracy: 0.7327113747596741

In [28]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")

C:\Users\joshu\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(